:root{
    --color-site:#1888cd;
}
body{
    background-color: #fff;
    /*font-family: "Sofia Pro", sans-serif;*/
    font-family: 'DM Sans', sans-serif;
    height: auto;
    width: auto;
}
.nav-link{
    color: #ffffff !important ;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
h3{
    font-size: calc(1.375rem + 1.2vw);
    color: var(--color-site);
    font-family: Gilroy, sans-serif;
    font-weight:600;
}
h2{
    color: var(--color-site);
    font-family: svn-gilroy, sans-serif;
    font-weight:600;
}
.btn-cat {
    padding: 10px 10px 10px 10px;
    border: none;
    outline: none;
    background-color: var(--color-site);
    color: #fff;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold;
}
.content{
    padding: 10px 0px 10px 20px;
}
a{
    text-decoration: none;
}
.linkItems{
    color: #fff;
    font-weight: bold;
    font-family: "Sofia Pro", sans-serif;
}
.btn-add{
    border: none;
    background-color: var(--color-site);
    outline: none;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
}
.btn-add:hover{
    border: none;
    background-color: #000;
}

a {
    color: #6c757d;
}

a:hover {
    color: #fec503;
    text-decoration: none;
}

::selection {
    background: #fec503;
    text-shadow: none;
}

footer {
    padding: 2rem 0;
    background-color: #212529;
}

.footer-column:not(:first-child) {
}
@media (min-width: 768px) {
    .footer-column:not(:first-child) {
        padding-top: 0rem;
    }
}

.footer-column {
}
.footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
    color: #6c757d;
}
.footer-column .nav-item span.footer-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer-column .nav-item .fas {
    margin-right: 0.5rem;
}
.footer-column ul {
    display: inline-block;
}
@media (min-width: 768px) {
    .footer-column ul {
        text-align: left;
    }
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #fec503;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
}

footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
    color: white;
}

.fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
}
.Instagrame{
    margin-right: 10px;
}
.iconcont{
    background-color: var(--color-site);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconcont2{
    background-color: #f1ca07;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiant-site{
    min-height: 40vh;
}
.cursor-pointe{
    cursor: pointer;
}
.background {
    background: #f6f9fc;
    padding: 50px 0;
}
.productC {
    background: #fff;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media all and (max-width: 759px) {
    .productC {
        height: 250px;

    }

    .productC .img {
        padding:20px;
    }
    .productC img {
        max-height: 230px;
    }
    .prixcontainer {
        height: 250px;
        position: absolute;
        background-color: rgba(24, 23, 23, 0.08);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;


    }
}
@media all and (min-width: 760px) and (max-width: 1000px) {
    .productC {
        height: 450px;

    }
    .productC .img {
        padding:  0px 20px;
    }
    .productC img {
        max-height: 400px;
    }
    .prixcontainer {
        height: 450px;
        position: absolute;
        background-color: rgba(24, 23, 23, 0.08);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;


    }
}
@media all and (min-width: 1001px) {
    .productC {
        height: 150px;

    }
    .productC .img {
        padding: 10px;
    }
    .productC img {
        max-height: 120px;
    }
    .prixcontainer {
        height: 150px;
        position: absolute;
        background-color: rgba(24, 23, 23, 0.08);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;


    }
}
.productC h3 {
    font-weight: 400;
    font-size: 17px;
}
.productC .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}
.productC .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
}
.price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.price button:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}
.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}
.product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}
.product-like i {
    font-size: 20px;
    margin: 10px 3px;
}
.productC:hover .product-like {
    opacity: 1;
}
.d_flex {
    display: flex;
    justify-content: space-between;
}
.productC h4{
    font-weight: bold;
    font-size: 15px;
    margin-top: 01px;
    color: #ffffff;

}
.productC span{
    font-weight: normal;
    font-size: 13px;
    color:#ffffff;
}
.btn-manu{
    background-color:transparent;
    border: none;
    padding: 10px;
}
.btnlink{
    padding: 10px;
}
.countItemCard{
    color: #ffffff;
    background-color: #f91d14;
    padding: 1px 5px;
    border-radius: 50%;
}
.status{
    background-color: #00f912;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
}
.logoManu{
    height: 150px;
    width: 150px;
    border-radius: 75px;

}
.menuMobilItem{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border: solid 1px #000;
    padding: 10px;
    border-radius: 10px;
}
.menulist{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    z-index: 1001;
}
.logout{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    gap: calc(0.200rem + 1vw);
}
.iconlog{
    size:calc(0.10rem + 1vw) !important;
}
.productD {
    background: #fff;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media all and (max-width: 759px) {
    .productD {
        height: 50px;
        padding: 20px;

    }
}
@media all and (min-width: 760px) and (max-width: 1000px) {
    .productD {
        height: 180px;
        padding: 0px 20px 20px 20px;

    }
}
@media all and (min-width: 1001px) {
    .productD {
        padding: 0px 20px 20px 20px;

    }
}
.productD h3 {
    font-weight: 400;
    font-size: 17px;
}
.productD .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}
.productD .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
}
.price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.price button:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}
.productD h4{
    font-weight: normal;
    font-size: 15px;
    margin-top: 01px;
}

.productDs {
    background: #fff;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media all and (max-width: 759px) {
    .productDs {
        height: 50px;
        padding: 0px 20px 10px 20px;
        cursor: pointer;

    }
}
@media all and (min-width: 760px) and (max-width: 1000px) {
    .productDs {
        height: 200px;
        padding: 0px 20px 10px 20px;
        cursor: pointer;

    }
}
@media all and (min-width: 1001px) {
    .productDs {
        padding: 10px 20px 10px 10px;
        height: 80px;
        cursor: pointer;

    }
}
.productDs h3 {
    font-weight: 400;
    font-size: 17px;
}
.productDs h4{
    font-weight: normal;
    font-size: 15px;
    margin-top: 01px;
}

.bodyModal{
    min-height: 40vh;
    height: auto;
    padding: 0px 0px 20px 0px;
}
.logo2{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
.PhoneInputCont{
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
}
.PhoneInputCont2{
    border: 1px solid #c6c1c1;
    padding: 5px;
    border-radius: 5px;
    outline:none;
}
.PhoneInputInput{
}
.inputMy{
    border: none;
    outline: none;
}
.inputMy:focus,.inputMy:hover{
    border: none;
    outline: none;
}
.PhoneInputCont2:focus-within{
    border-radius: 5px;
    outline: rgba(10, 114, 255, 0.38) 4px solid;
}
.slick-arrow{
    background-color: #0a58ca !important;
    height: 50px !important;
    border-radius: 25px;

}
.mtSect{
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 48, 173, 0.62);
    padding: 10px;
    border-radius: 20px;
}