@media all and (max-width: 7590px) {
    .cardp {
        height: 250px;

    }
}
@media all and (min-width: 760px) and (max-width: 1000px) {
    .cardp {
        height: 350px;

    }
}
@media all and (min-width: 1001px) {
    .cardp {
        height: 300px;

    }
}
.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px;
}

.cardp {
    border: 2px solid #e8e7e7;
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;

}
.cardp:hover {
    -webkit-box-shadow: 4px 2px 36px -12px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 2px 36px -12px rgba(0, 0, 0, 0.27);
}

.cardp img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.time i {
    color: #cacacaa3
}
.loaderCustom {
    padding: 10px 15px 30px 15px;
    height: 400px;
}
.loaderCustom2 {
    height: 100px;
}
.logo-footer{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.descProduct{
    font-weight: lighter;
    font-size: 14px;
}
.itemtop{
    position: absolute;
    background-color: var(--color-site);
    color: #ffffff;
    border-top-left-radius: 10px;
    padding: 5px 20px ;
}
.itemtop2{
    position: absolute;
    background-color: #ca0a0a;
    color: #ffffff;
    border-top-left-radius: 10px;
    padding: 5px 20px ;
}
.itemButton{
    position: absolute;
    margin-top: -80px;
    margin-left: 100px;
}
.titreProd{
    font-weight: bold;
}
.prixProd{
    font-weight: bold;
    color: var(--color-site);
}
.prixProd2{
    font-weight: bold;
    color: #babcbf;
    text-decoration: line-through;
}